<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" *ngIf="isLoggedIn()">
    <a class="navbar-brand" href="#">GitHub Api - Take Home Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/project-detail">{{ project.name }} <i class="fa {{ iconProject }}"></i> </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar"> {{ currentUser }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Salir</button>
            </div>
        </li>        
    </ul>
    </div>
  </nav>
  